[user]
	name = Rintaro Okamura
	email = rintaro.okamura@gmail.com
[push]
	default = simple
[color]
	ui = auto
[github]
	user = rinx
[core]
	excludesfile = ~/.gitignore
[alias]
        this  = !git init && git add . && git commit -m \"first commit\"
	st    = status
	l     = log --graph
        c     = commit
        cm    = commit -m
        cam   = commit -am
