[submodule "dottmux/plugins/tpm"]
	path = dottmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dottmux/plugins/tmux-battery"]
	path = dottmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "dottmux/plugins/tmux-resurrect"]
	path = dottmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "dottmux/plugins/tmux-yank"]
	path = dottmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "dottmux/plugins/tmux-cpu"]
	path = dottmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
