[user]
    name = Rintaro Okamura
    email = rintaro.okamura@gmail.com

[push]
    default = simple

[color]
    ui = auto
    interactive = auto

[github]
    user = rinx

[core]
    excludesfile = ~/.gitignore
    editor = vim

[alias]
    this  = !git init && git add . && git commit -m \"first commit\"

    st    = status

    l     = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll    = log --graph --stat --abbrev-commit

    ad    = add

    ci    = commit
    cm    = commit -m
    ca    = commit --amend

    co    = checkout

    br    = branch
    
    dm    = diff master
    dw    = diff --color-words
    dc    = diff --staged
