{:deps {babashka/nrepl-client
        {:git/url "https://github.com/babashka/nrepl-client"
         :git/sha "5158e44cd19b0d62f79fa69944a0117f5f5f5b00"}}
 :tasks {nrepl-eval
         {:requires ([babashka.nrepl-client :as nrepl])
          :task (let [values (:vals (nrepl/eval-expr
                                      {:port (first *command-line-args*)
                                       :expr (second *command-line-args*)}))]
                  (run! println values))}}}
