{:user
 {:description "user defined snippets"
  :snippets
  [{:title "review must badge"
    :body "![badge](https://img.shields.io/badge/review-must-red.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review imo badge"
    :body "![badge](https://img.shields.io/badge/review-imo-orange.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review ask badge"
    :body "![badge](https://img.shields.io/badge/review-ask-blueviolet.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review nit pick badge"
    :body "![badge](https://img.shields.io/badge/review-nits-green.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review suggestion badge"
    :body "![badge](https://img.shields.io/badge/review-suggestion-blue.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review note badge"
    :body "![badge](https://img.shields.io/badge/review-note-informational.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "review resolved badge"
    :body "![badge](https://img.shields.io/badge/review-resolved-success.svg?style=flat-square)"
    :tags #{:github :badge}}
   {:title "nikkori"
    :body "( っ'ヮ'c)"
    :tags #{:kaomoji}}
   {:title "shu"
    :body "三( っ'ヮ'c)"
    :tags #{:kaomoji}}
   {:title "matte"
    :body "(っ'ヮ')っ"
    :tags #{:kaomoji}}
   {:title "matte-"
    :body "(((っ'ヮ')っ"
    :tags #{:kaomoji}}
   {:title "heart"
    :body "( っ'ヮ'c)❤"
    :tags #{:kaomoji}}
   {:title "sing"
    :body "( っ'ヮ'c)～♪"
    :tags #{:kaomoji}}
   {:title "thinking"
    :body "( っ˘ヮ˘c).｡oO(…)"
    :tags #{:kaomoji}}
   {:title "thinking"
    :body "( っ˘ヮ˘c)💭"
    :tags #{:kaomoji}}
   {:title "sleep"
    :body "( っ˘ヮ˘c)💤"
    :tags #{:kaomoji}}
   {:title "thinking"
    :body "( 'ω').｡oO(…)"
    :tags #{:kaomoji}}
   {:title "kyun"
    :body "（*/ω＼*）"
    :tags #{:kaomoji}}
   {:title "kyun"
    :body "(っ´ω`c)♡"
    :tags #{:kaomoji}}
   {:title "namida"
    :body ".˚‧º·(´ฅωฅ｀)‧º·˚."
    :tags #{:kaomoji}}
   {:title "namida"
    :body "(☍﹏⁰)"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body "｡ﾟ(ﾟ∩´﹏`∩ﾟ)ﾟ｡"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body ":;( っ'﹏'c);:"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body ":;( っ'ω'c);:"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body ":;(∩´﹏`∩);:"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body "｡+ﾟ(∩´﹏`∩)ﾟ+｡"
    :tags #{:kaomoji}}
   {:title "dame"
    :body "(乂'ω')"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body "(っ´﹏`c)"
    :tags #{:kaomoji}}
   {:title "hawawa"
    :body "(｡>﹏<｡)"
    :tags #{:kaomoji}}
   {:title "awawa"
    :body "ヾ(∂╹Δ╹)ﾉ”"
    :tags #{:kaomoji}}
   {:title "komatta"
    :body "(╯•﹏•╰)"
    :tags #{:kaomoji}}
   {:title "fuee"
    :body "ヾ(｡>﹏<)ﾉ\""
    :tags #{:kaomoji}}
   {:title "fuee"
    :body "✧*。ヾ(｡>﹏<｡)ﾉﾞ。*✧"
    :tags #{:kaomoji}}
   {:title "ja-n"
    :body "٩( 'ω' )و"
    :tags #{:kaomoji}}
   {:title "ja-n"
    :body "٩(*'ω'*)و"
    :tags #{:kaomoji}}
   {:title "ja-n"
    :body "＼＼\\٩( 'ω' )و /／／"
    :tags #{:kaomoji}}
   {:title "magao"
    :body "( っ'ω'c)"
    :tags #{:kaomoji}}
   {:title "shu"
    :body "三( っ'ω'c)"
    :tags #{:kaomoji}}
   {:title "sleeping"
    :body "( っ˘ω˘c)"
    :tags #{:kaomoji}}
   {:title "mogumogu"
    :body "(∩´〰`∩)"
    :tags #{:kaomoji}}
   {:title "mogumogu"
    :body "ŧ‹\"ŧ‹\"(๑´ㅂ`๑)ŧ‹\"ŧ‹\""
    :tags #{:kaomoji}}
   {:title "pero"
    :body "(๑´ڡ`๑)"
    :tags #{:kaomoji}}
   {:title "juru"
    :body "(๑╹﹃╹)"
    :tags #{:kaomoji}}
   {:title "pei"
    :body "(っ`ω´c)"
    :tags #{:kaomoji}}
   {:title "chu"
    :body "(っ＞ω＜c)"
    :tags #{:kaomoji}}
   {:title "chu"
    :body "°+♡:.(っ>ω<c).:♡+°"
    :tags #{:kaomoji}}
   {:title "wa-i"
    :body "ヾ(✿╹◡╹)ﾉ\""
    :tags #{:kaomoji}}
   {:title "wa-i"
    :body "ヾ(๑╹◡╹)ﾉ\""
    :tags #{:kaomoji}}
   {:title "wa-i"
    :body "ヾ(＠⌒ー⌒＠)ノ"
    :tags #{:kaomoji}}
   {:title "batabata"
    :body "ヾ(⌒(_๑›◡‹ )_"
    :tags #{:kaomoji}}
   {:title "gu"
    :body "╭( ･ㅂ･)و ̑̑ ｸﾞｯ !"
    :tags #{:kaomoji}}
   {:title "gu"
    :body "(๑˃̵ᴗ˂̵)g!!!"
    :tags #{:kaomoji}}
   {:title "yossha"
    :body "(´◔౪◔)۶ﾖｯｼｬ!"
    :tags #{:kaomoji}}
   {:title "yatta"
    :body "+。:.ﾟ٩(๑＞◡＜๑)۶:.｡+ﾟ"
    :tags #{:kaomoji}}
   {:title "shobon"
    :body "(っ◞‸◟c)"
    :tags #{:kaomoji}}
   {:title "nikkori"
    :body "( っ'◡'c)"
    :tags #{:kaomoji}}]}}
