{:paths ["src"]
 :deps {io.github.rinx/sbar-bb {:git/sha "d63dd223095a864fc922e7587d9351804b008466"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        tick/tick {:mvn/version "0.7.5"}}
 :min-bb-version "1.0.0"
 :tasks {:requires ([babashka.fs :as fs])
         :init (do
                (def target-dir "target")
                (def plugins-dir (str target-dir "/plugins")))
         -target (do
                  (fs/create-dirs target-dir)
                  (fs/create-dirs plugins-dir))
         build (run '-build {:parallel true})
         -build {:depends [build:main
                           build:plugin:front_app
                           build:plugin:mic
                           build:plugin:spaces
                           build:plugin:volume
                           build:plugin:yabai]}
         build:main {:depends [-target]
                     :task (shell
                             (str "bb uberjar "
                                  target-dir
                                  "/main.jar -m sbar.main"))}
         build:plugin:front_app {:depends [-target]
                                 :task (shell
                                         (str "bb uberjar "
                                              plugins-dir
                                              "/front_app.jar -m sbar.plugins.front-app"))}
         build:plugin:mic {:depends [-target]
                           :task (shell
                                   (str "bb uberjar "
                                        plugins-dir
                                        "/mic.jar -m sbar.plugins.mic"))}
         build:plugin:spaces {:depends [-target]
                              :task (shell
                                      (str "bb uberjar "
                                           plugins-dir
                                           "/spaces.jar -m sbar.plugins.spaces"))}
         build:plugin:volume {:depends [-target]
                              :task (shell
                                      (str "bb uberjar "
                                           plugins-dir
                                           "/volume.jar -m sbar.plugins.volume"))}
         build:plugin:yabai {:depends [-target]
                             :task (shell
                                     (str "bb uberjar "
                                          plugins-dir
                                          "/yabai.jar -m sbar.plugins.yabai"))}}}
