name: Build docker image
on:
  push:
    branches:
      - main
    tags:
      - '*.*.*'
      - 'v*.*.*'
      - '*.*.*-*'
      - 'v*.*.*-*'
  pull_request:
    paths:
      - Dockerfile
  schedule:
    - cron: 0 18 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: "--debug"
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.DOTFILES_USER }}
          password: ${{ secrets.DOTFILES_TOKEN }}
      - name: Determine tag name (main)
        if: github.ref == 'refs/heads/main'
        run: |
          echo "PRIMARY_TAG=nightly" >> $GITHUB_ENV
      - name: Determine tag name (pull request)
        if: github.event_name == 'pull_request'
        run: |
          pr_num=`cat $GITHUB_EVENT_PATH | jq -r ".number"`
          echo "PRIMARY_TAG=pr-${pr_num}" >> $GITHUB_ENV
      - name: Determine tag name (tags)
        if: startsWith( github.ref, 'refs/tags/')
        id: determine_tag
        run: |
          tag_name=`echo $GITHUB_REF | sed -e 's:^refs/tags/::'`
          echo "PRIMARY_TAG=${tag_name}" >> $GITHUB_ENV
          echo "EXTRA_OPTS=${EXTRA_OPTS}" >> $GITHUB_ENV
        env:
          EXTRA_OPTS: --tag rinx/devenv:stable --tag ghcr.io/rinx/devenv:stable
      - name: Build and Push
        run: |
          docker buildx build \
            --builder ${BUILDER} \
            --platform ${PLATFORMS} \
            --tag rinx/devenv:${PRIMARY_TAG} \
            --tag ghcr.io/rinx/devenv:${PRIMARY_TAG} \
            ${EXTRA_OPTS} \
            --push \
            .
        env:
          DOCKER_BUILDKIT: 1
          PLATFORMS: linux/amd64
          BUILDER: ${{ steps.buildx.outputs.name }}
