name: Lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  sg-scan:
    name: Scan using ast-grep
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep with reviewdog
        uses: reviewdog/action-ast-grep@382ae31863eaa211fdd81640ac7249f8f1c94b3f # v1.46.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          level: info
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
          filter_mode: nofilter
          reviewdog_flags: -tee
  test-sg-rules:
    name: Test ast-grep rules
    runs-on: ubuntu-latest
    steps:
      - name: Generate github token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          github_access_token: ${{ steps.generate_token.outputs.token }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Install dependencies
        run: |
          nix profile install 'nixpkgs#ast-grep'
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep rule tests
        run: |
          ast-grep test
