name: Lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  sg-scan:
    name: Scan using ast-grep
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep with reviewdog
        uses: reviewdog/action-ast-grep@8f8ffdd2d5680e60e5777076084443b080f0051f # v1.46.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          level: info
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
          filter_mode: nofilter
          reviewdog_flags: -tee
  test-sg-rules:
    name: Test ast-grep rules
    runs-on: ubuntu-latest
    steps:
      - name: Generate github token
        id: generate_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          github_access_token: ${{ steps.generate_token.outputs.token }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Install dependencies
        run: |
          nix profile install 'nixpkgs#ast-grep'
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep rule tests
        run: |
          ast-grep test
