name: Lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  sg-scan:
    name: Scan using ast-grep
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep with reviewdog
        uses: reviewdog/action-ast-grep@b073e0dff955194f06446fa1499bad258abbf9ba # v1.50.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          level: info
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
          filter_mode: nofilter
          reviewdog_flags: -tee
  test-sg-rules:
    name: Test ast-grep rules
    runs-on: ubuntu-latest
    steps:
      - name: Generate github token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ steps.generate_token.outputs.token }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Install dependencies
        run: |
          nix profile install 'nixpkgs#ast-grep'
      - name: Install tree-sitter grammar for fennel
        uses: rinx/setup-tree-sitter-parser@e0242ba833bf1c7f89d758f46da25653b2feba12 # v1.0.1
        with:
          parser_dir: .cache/tree-sitter/parser
          parser_repository: alexmozaidze/tree-sitter-fennel
      - name: Run ast-grep rule tests
        run: |
          ast-grep test
