name: Update nix packages
on:
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:
jobs:
  update-pkgs:
    name: Update nix packages
    strategy:
      fail-fast: false
      matrix:
        pkg:
          - falco
          - fennel-ls
          - rq
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Free disk space
        uses: wimpysworld/nothing-but-nix@a77b09ee91691223ff188d8fb6a87d699d457b4f # v7
        with:
          hatchet-protocol: 'rampage'
          root-safe-haven: '3072' # Reserve 3GB on the / filesystem
          mnt-safe-haven: '2048' # Reserve 2GB on the /mnt filesystem
          nix-permission-edict: true
      - name: Generate github token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ steps.generate_token.outputs.token }}
          nix_path: nixpkgs=channel:nixos-unstable
          install_options: --no-daemon
      - name: Configure
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
          APP_SLUG: ${{ steps.generate_token.outputs.app-slug }}
        run: |
          ID=$(gh api "/users/${APP_SLUG}[bot]" --jq .id)
          git config --global user.name "${APP_SLUG}[bot]"
          git config --global user.email "${ID}+${APP_SLUG}[bot]@users.noreply.github.com"
      - name: Create branch
        id: create-branch
        env:
          BRANCH: deps/nix/update/${{ matrix.pkg }}/${{ github.run_number }}${{ github.run_attempt }}
        run: |
          git switch -c "${BRANCH}"
          echo "name=${BRANCH}" >> "$GITHUB_OUTPUT"
      - name: Update package
        env:
          PKG: ${{ matrix.pkg }}
        run: |
          nix run 'github:Mic92/nix-update' -- --flake "${PKG}" --write-commit-message commit.md
      - name: Check changes
        id: check-changes
        run: |
          if [ ! -f commit.md ]; then
            echo "updated=no" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "updated=yes" >> "$GITHUB_OUTPUT"
      - name: Commit and Push
        if: steps.check-changes.outputs.updated == 'yes'
        id: commit
        env:
          BRANCH: ${{ steps.create-branch.outputs.name }}
        run: |
          git add pkgs
          git commit -m "$(head -1 commit.md)"
          git push origin "${BRANCH}"

          echo "title=$(head -1 commit.md)" >> "$GITHUB_OUTPUT"
      - name: Create Pull Request
        if: steps.check-changes.outputs.updated == 'yes'
        id: create-pr
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          gh pr create \
            -B main \
            -t '${{ steps.commit.outputs.title }}' \
            -F commit.md
      - name: Auto-merge
        if: steps.check-changes.outputs.updated == 'yes'
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
          BRANCH: ${{ steps.create-branch.outputs.name }}
        run: |
          gh pr merge \
            --auto \
            --squash \
            "${BRANCH}"
